In [2]:
!pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.0.2-cp37-cp37m-win_amd64.whl (7.1 MB)
Collecting joblib>=0.11
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting scipy>=1.1.0
  Using cached scipy-1.7.3-cp37-cp37m-win_amd64.whl (34.1 MB)
Requirement already satisfied: numpy>=1.14.6 in c:\users\jose ernesto\opencv\lib\site-packages (from scikit-learn) (1.21.6)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.0.2 scipy-1.7.3 threadpoolctl-3.1.0

[notice] A new release of pip available: 22.1.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import sklearn as sl

In [16]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 1.7 MB/s eta 0:00:00
Requirement already satisfied: joblib in c:\users\jose ernesto\opencv\lib\site-packages (from nltk) (1.2.0)
Collecting tqdm
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     ---------------------------------------- 78.5/78.5 kB 1.1 MB/s eta 0:00:00
Collecting regex>=2021.8.3
  Downloading regex-2022.10.31-cp37-cp37m-win_amd64.whl (268 kB)
     -------------------------------------- 268.0/268.0 kB 3.3 MB/s eta 0:00:00
Collecting click
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     ---------------------------------------- 96.6/96.6 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\jose ernesto\opencv\lib\site-packages (from click->nltk) (0.4.5)
Requirement already satisfied: importlib-metadata in c:\users\jose ernesto\opencv\lib\site-packages (from click->nltk) (4.12.0)
Requirement already satisfied: zipp>=0.5 in c:\users\jose ernesto\opencv\lib\site-packages (from importlib-metadata->click->nltk) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\jose ernesto\opencv\lib\site-packages (from importlib-metadata->click->nltk) (4.3.0)
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.3 nltk-3.8.1 regex-2022.10.31 tqdm-4.64.1

[notice] A new release of pip available: 22.1.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import pandas as pd
import matplotlib as plt
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Jose
[nltk_data]     Ernesto\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [18]:
data_train = pd.read_csv("imdb_reviews_small_lemm_train.tsv", sep="\t")
data_test = pd.read_csv("imdb_reviews_small_lemm_test.tsv", sep="\t")

In [19]:
data_train.head()

,tconst,original_title,review,review_lemm,pos
0,tt0087803,Nineteen Eighty-Four,I saw this movie last year in Media class and ...,i see this movie last year in medium class and...,0
1,tt0087803,Nineteen Eighty-Four,"I must admit, there are few books with corresp...",i must admit there be few book with correspond...,0
2,tt0087803,Nineteen Eighty-Four,I think that the shots and lighting were very ...,i think that the shot and light be very poor w...,0
3,tt0087803,Nineteen Eighty-Four,"A few weeks ago, I read the classic George Orw...",a few week ago i read the classic george orwel...,0
4,tt0087803,Nineteen Eighty-Four,I saw this movie literally directly after fini...,i see this movie literally directly after fini...,0

In [20]:
data_test.head()

,tconst,original_title,review,review_lemm
0,tt0108999,...And the Earth Did Not Swallow Him,I rented this movie from a local library witho...,i rent this movie from a local library without...
1,tt0108999,...And the Earth Did Not Swallow Him,"The movie "". . . And The Earth Did not Swallow...",the movie and the earth do not swallow -PRON- ...
2,tt0108999,...And the Earth Did Not Swallow Him,I was very moved by the young life experiences...,i be very move by the young life experience of...
3,tt0108999,...And the Earth Did Not Swallow Him,"Recently finally available in DVD (11/11/08), ...",recently finally available in dvd severo p rez...
4,tt0063308,"Un minuto per pregare, un istante per morire",I saw this movie over 20 years ago and had rat...,i see this movie over year ago and have rather...

In [30]:
features_train = data_train["review_lemm"]
features_test = data_test["review_lemm"]
target_train = data_train["pos"]
print(features_train.shape)
print(features_test.shape)
print(target_train.shape)

(2027,)
(2220,)
(2027,)

In [42]:
stop_words = set(stopwords.words("english"))
count_tf_idf = TfidfVectorizer(stop_words=stop_words)

train_tf_idf = count_tf_idf.fit_transform(features_train)
test_tf_idf = count_tf_idf.transform(features_test)

In [43]:
print(train_tf_idf.shape)
print(test_tf_idf.shape)

(2027, 18036)
(2220, 18036)

In [49]:
model = LogisticRegression(solver='liblinear',random_state=12345)
model.fit(train_tf_idf, target_train)
predict_train = model.predict(train_tf_idf)
result_train = accuracy_score(target_train, predict_train)
result_train

0.9521460286137149

In [51]:
predict_test = model.predict(test_tf_idf)
data_test["pos"] = predict_test
data_test.head()

,tconst,original_title,review,review_lemm,pos
0,tt0108999,...And the Earth Did Not Swallow Him,I rented this movie from a local library witho...,i rent this movie from a local library without...,0
1,tt0108999,...And the Earth Did Not Swallow Him,"The movie "". . . And The Earth Did not Swallow...",the movie and the earth do not swallow -PRON- ...,1
2,tt0108999,...And the Earth Did Not Swallow Him,I was very moved by the young life experiences...,i be very move by the young life experience of...,1
3,tt0108999,...And the Earth Did Not Swallow Him,"Recently finally available in DVD (11/11/08), ...",recently finally available in dvd severo p rez...,1
4,tt0063308,"Un minuto per pregare, un istante per morire",I saw this movie over 20 years ago and had rat...,i see this movie over year ago and have rather...,0

In [53]:
data_test.to_csv("predictions", columns=["pos"], index=False)