<a href="https://colab.research.google.com/github/lilianajv/Practico/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.4.46)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2022.7)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26787 sha256=42af9117b865dc06f79b914bc1d91d628107d08a50e2e88933ee0596366d4210
  Stored in directory: /root/.cache/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import pandasql as ps

In [3]:
df=pd.DataFrame(data={
    "step":["Home Page Loaded", "Add to Cart", "Purchase"],
    "users":[100,20,5],
    "conversion_rate": [1, 0.2, 0.05]
})

In [4]:
np.random.seed(200)
n_users=500
cr_first_event=0.25
cr_second_event=0.4

user_ids = []
event_names = []
timestamps = []

startDate = datetime.datetime(2021,5,1,00,00)



for i in range(n_users):
  n_events = int(np.random.uniform(low=1, high=20))
  user_ids = user_ids+[i]*n_events
  event_names = event_names + ["Home Page Loaded"]*n_events
  timestamps_1=[]

  for j in range(n_events):
    random_range_1 = np.random.uniform(low=0, high=30)
    timestamp_first_event = startDate + datetime.timedelta(days=random_range_1)
    
    timestamps_1.append(timestamp_first_event)
    timestamps.append(timestamp_first_event.strftime("%d/%m/%y %H:%M"))

  if np.random.uniform() <= cr_first_event:
    user_ids = user_ids + [i]*n_events
    event_names = event_names + ["Add to Cart"]*n_events  
    timestamps_2 = []
   
    for k in range(n_events):
      random_range_2 = np.random.uniform(low=-3, high=10)
      timestamp_second_event = timestamps_1[j] + datetime.timedelta(days=random_range_2)

      timestamps_2.append(timestamp_second_event)
      timestamps.append(timestamp_second_event.strftime("%d/%m/%y %H:%M"))
  

    if np.random.uniform() <=cr_second_event:
      user_ids = user_ids+[i]*n_events
      event_names = event_names + ["Purchase"]*n_events

      for l in range(n_events):
        random_range_3 = np.random.uniform(low=-3, high=10)
        timestamp_third_event = timestamps_2[l] + datetime.timedelta(days=random_range_3)
        timestamps.append(timestamp_third_event.strftime("%d/%m/%y %H:%M"))
  
events = pd.DataFrame(data={
    "user_id":user_ids,
    "event_name":event_names,
    "timestamp":timestamps,
})
events
events["timestamp"]=pd.to_datetime(events["timestamp"], format="%d/%m/%y %H:%M")

In [9]:
ps.sqldf(""" SELECT *
    FROM events
    LIMIT 10
""")

   user_id        event_name                   timestamp
0        0  Home Page Loaded  2021-05-07 19:06:00.000000
1        0  Home Page Loaded  2021-05-18 19:58:00.000000
2        0  Home Page Loaded  2021-05-13 20:22:00.000000
3        0  Home Page Loaded  2021-05-23 22:10:00.000000
4        0  Home Page Loaded  2021-05-01 02:03:00.000000
5        0  Home Page Loaded  2021-05-11 17:20:00.000000
6        0  Home Page Loaded  2021-05-28 06:58:00.000000
7        0  Home Page Loaded  2021-05-14 16:22:00.000000
8        0  Home Page Loaded  2021-05-30 10:53:00.000000
9        0  Home Page Loaded  2021-05-27 00:29:00.000000

In [6]:
ps.sqldf(""" SELECT DISTINCT event_name
FROM events
""")

         event_name
0  Home Page Loaded
1       Add to Cart
2          Purchase

In [11]:
"""
WITH
  total_users AS (
    SELECT COUNT (DISTINCT user_id) AS users
    FROM events
)

SELECT
    event_name AS step,
    1.0*COUNT (DISTINCT user_id) / (SELECT*FROM total_users) AS conversion_rate
FROM events
GROUP BY
  step
ORDER BY
  2 DESC
"""

'\nWITH\n  total_users AS (\n    SELECT COUNT (DISTINCT user_id) AS users\n    FROM events\n)\n\nSELECT\n    event_name AS step,\n    1.0*COUNT (DISTINCT user_id) / (SELECT*FROM total_users) AS conversion_rate\nFROM events\nGROUP BY\n  step\nORDER BY\n  2 DESC\n'

In [10]:
sql_query = """
SELECT 
  event_name AS step,
  COUNT(DISTINCT user_id) AS users,
  1.0* COUNT(DISTINCT user_id) / (SELECT COUNT(DISTINCT user_id) FROM events) AS conversion_rate
FROM
  events
GROUP BY
  step
ORDER BY conversion_rate DESC
"""
funnel_df = ps.sqldf(sql_query)
funnel_df

               step  users  conversion_rate
0  Home Page Loaded    500            1.000
1       Add to Cart    139            0.278
2          Purchase     70            0.140